@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.focus-text-chamoisee:focus{
  color: #A98467;
}
.text-umber{
  color: #6C584C;
}

.text-olivine{
  color:#ADC178;
}

.text-chamoisee{
  color: #A98467;
}

.text-parchment{
  color: #F0EAD2;
}

.bg-parchment{
  background-color: #F0EAD2;
}

.bg-olivine{
  background-color:#ADC178;
}

.bg-tea{
  background-color: #DDE5B6;
}

.outline-umber{
  outline-color: #6C584C;
}


